/KOML.class
/MethodHandler.class
/PropertyHandler.class
/SerialUIDChanger.class
/XMLBasicSerialization.class
/XMLDocument.class
/XMLInstances.class
/XMLOptions.class
/XMLSerialization.class
/XMLSerializationMethodHandler.class
/XStream.class
