/CachedKernel.class
/CheckKernel.class
/Kernel.class
/KernelEvaluation.class
/NormalizedPolyKernel.class
/PolyKernel.class
/PrecomputedKernelMatrixKernel.class
/Puk.class
/RBFKernel.class
/RegOptimizer.class
/RegSMO.class
/RegSMOImproved.class
/SMOset.class
/StringKernel.class
