/ADTree.class
/BFTree.class
/DecisionStump.class
/FT.class
/Id3.class
/J48.class
/J48graft.class
/LMT.class
/M5P.class
/NBTree.class
/REPTree$Tree.class
/REPTree.class
/RandomForest.class
/RandomTree.class
/SimpleCart.class
/UserClassifier$TreeClass.class
/UserClassifier.class
/UserClassifier$1.class
/UserClassifier$2.class
