body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 50px;
}

.barratop{
	height: 5px;
}

.navbar-fixed-bottom{
	padding: 0;
}

.panel-footer p{
	border: 0;
	margin: 0;
	text-align: center;
}

.panel-footer{
	padding: 5px;
	border: 0;
	margin: 0;
}

.intro{
	padding-top: 50px;
}

.field_semantic{
	width: 60%;
	padding: 20px;
}

.field_semantic input{
	width: 50%;
}

fieldset form input[type="text"], input[type="email"], input[type="password"]{
    width: 400px;
}

div #logo_geral{
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.box{
	padding: 20px;
	padding-top: 0px;
}

.box h3{
	margin: 0px;
}

select{
	color: black !important;
}

.buttondrop{
	margin-right: 10px;
}