body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-fixed-bottom{
	padding: 0;
}

.intro{
	padding-top: 20px;
}


.header{
	text-align: center;
	margin-bottom: 10px; 
}