/AllFilter.class
/CheckSource.class
/Filter.class
/MultiFilter.class
/SimpleBatchFilter.class
/SimpleFilter.class
/SimpleStreamFilter.class
/Sourcable.class
/StreamableFilter.class
/SupervisedFilter.class
/UnsupervisedFilter.class
